<h1>SiteHub - Forums</h1>

<hr />

<table width="100%">
  <tr>
    <td width="20%"><strong>Forum</strong></td>
    <td width="60%"><strong>Description</strong></td>
    <td colspan="2"  width="20%">
      <% if current_user.try(:admin?) || current_user.try(:moderator?) %>
        <strong>Admin</strong>
      <% end %>
    </td>
  </tr>

  <% @forums.each do |forum| %>
    <tr>
      <td><%= link_to forum.name, forum %></td>
      <td><%= forum.description %></td>
      <% if !current_user.try(:banned?) %>  
        <% if current_user.try(:admin?) || current_user.try(:moderator?) %>	
          <td><%= link_to 'Edit', edit_forum_path(forum) %></td>
        <% end %>
        <% if current_user.try(:admin?) %>
          <td><%= link_to 'Delete', forum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<br><br>

<% if !current_user.try(:banned?) %>
  <% if current_user.try(:admin?) || current_user.try(:moderator?) %>	
    <p>
      <%= link_to 'New Forum', new_forum_path %>
    </p>
  <% end %>
<% end %>

<p>
  <%= link_to 'Users', users_path %>
</p>