<p id="notice"><%= notice %></p>

<h1><%= @forum.name %></h1>

<p>
  <%= @forum.description %>
  <% if current_user.try(:admin?) %>
   <%= link_to 'Edit Name & Description', edit_forum_path(@forum) %>
  <% end %>
</p>

<hr />

<table width="100%">
  <tr>
    <td width="50%"><strong>Discussion</strong></td>
    <td width="20%"><strong>Author</strong></td>
    <td width="10%"><strong>Posts</strong></td>
    <td colspan="2"  width="20%">
      <% if current_user.try(:admin?) || current_user.try(:moderator?) %>
        <strong>Admin</strong>
      <% end %>
    </td>
  </tr>
  
  <% for discussion in @forum.discussions %>
    <tr>
      <td><%= link_to discussion.title, discussion_path(discussion) %>
        <% if discussion.user != nil %>
          <td><%= link_to discussion.user.username, user_path(discussion.user) %>
        <% else %>
          <td>[Deleted User]</td>
        <% end %>
      <td><%= discussion.posts.count - 1 %></td>
      <% if !current_user.try(:banned?) %>
        <% if current_user == discussion.user || current_user.try(:admin?) || current_user.try(:moderator?) %>
          <td><%= link_to "Edit", edit_discussion_path(discussion) %></td>
        <% end %>
        <% if current_user == discussion.user || current_user.try(:admin?) %>
          <td><%= link_to "Delete", discussion, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<br><br>

<% if !current_user.try(:banned?) %>
  <p>
    <%= link_to "New Discussion", "/discussions/new?forum=#{@forum.id}" %>
  </p>
<% end %>

<%= link_to 'Back', forums_path %>
