<p id="notice"><%= notice %></p>

<p>
  <h1>Title: <%= @discussion.title %></h1>
</p>

<% for post in @discussion.posts %>
  <div>
    <div>
      <% if post.user != nil %>
        <% if current_user == post.user && post.user != nil %>
          User: You!
        <% else %>
          <%= post.user.username %>
        <% end %>
      <% else %>
        [User Deleted]
      <% end %>
      <% if current_user == post.user || current_user.try(:admin?) %>
        <% if post.id == @discussion.posts.first.id %>
          <%= link_to "Edit Post", edit_discussion_path(@discussion) %>
          <%= link_to "Destroy Thread", discussion_path(@discussion), method: :delete, data: { confirm: "Are you sure?" } %>
        <% else %>
          <%= link_to "Edit Post", edit_post_path(post) %>
          <%= link_to "Destroy Post", post, method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      <% end %>
    </div>
    <div>
      Post:<br />
      <%= markdown(post.content).html_safe %>
    </div>
    <div>
    </div>
   </div>
  <br /><br />
<% end %>

<%= link_to "Reply", "#{new_post_path}?discussion=#{@discussion.id}" %><br />

<%= link_to 'Back', forum_path(@discussion.forum) %>
