<h1><%= @user.username %></h1>
<p>
  <p>
    <strong>Email:</strong><br>
    <%= @user.email %>
  </p>
  <p>
    <strong>Bio:</strong><br>
    <%= @user.bio %>
  </p>
  <% if !current_user.try(:banned?) %>
    <% if current_user.try(:admin?) %>
      <%= form_for @user, url: user_path(@user) do |f| %>
        <p>
          <strong>Edit Bio:</strong><br>
          <%= f.text_area :bio, value: @user.bio %>
        </p>
        <% if !@user.banned %>
          <p>
            <%= f.label :admin %>
            <%= f.check_box(:admin) %>
          </p>
        <% end %>
        <p>
          <%= f.label :moderator %>
          <%= f.check_box(:moderator) %>
        </p>
        <% if current_user != @user && !@user.admin %>  
          <p>
            <%= f.label :banned %>
            <%= f.check_box(:banned) %>
          </p>
        <% end %>
        <%= f.submit %>
      <% end %>
    <% end %>
    <% if current_user.try(:moderator?) %>
      <% if !@user.admin? && !@user.moderator? && current_user != @user %>
        <%= form_for @user, url: user_path(@user) do |f| %>
          <p>
            <%= f.label :banned %>
            <%= f.check_box(:banned) %>
          </p>
          <%= f.submit %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</p>

<p>
  <%= link_to 'Users List', users_path %>
</p>